{% load i18n %}
{% load i18n static %}
<div id="drawer" class="position-sticky">
{% if app_list %}
<div class="px-0">
  <div>
    <li class="sidebar-list-item" style="list-style-type: none;border: none !important;">
        <a 
          {% if '/admin/' == request.path %} 
            class="active-link"
          {% endif %}
          href="{% url 'admin:index' %}"
          {% if '/admin/' == request.path|urlencode %} 
            aria-current="page"
          {% endif %} 
          class="py-2" 
          aria-current="true"
        >
        <img src="{% static 'images/homeIcon.png' %}" alt="HomeIcon" class="mx-auto">
        <span>{% translate 'Dashboard' %}</span>
      </a>
    </li>
    <li class="sidebar-list-item" style="list-style-type: none;border: none !important;">
      <a 
        {% if '/admin/prealert/prealert/' == request.path %}
          class="active-link"
        {% endif %}
        href="/admin/prealert/prealert/"
        {% if '/admin/' in request.path|urlencode %} 
          aria-current="page"
        {% endif %} 
        class="py-2" 
        aria-current="true"
      >
      <img src="{% static 'images/preAlertIcon.png' %}" alt="HomeIcon" class="mx-auto">
      <span>{% translate 'Pre Alert' %}</span>
    </a>
  </li>
  <li class="sidebar-list-item" style="list-style-type: none;border: none !important;">
    <a 
      {% if '/admin/prealert/weighbridge/' == request.path %}
        class="active-link"
      {% endif %}
      href="/admin/prealert/weighbridge/"
      {% if '/admin/' in request.path|urlencode %} 
        aria-current="page"
      {% endif %} 
      class="py-2" 
      aria-current="true"
    >
      <img src="{% static 'images/weighBridgeIcon.png' %}" alt="Weigh Bridge Icon" class="mx-auto">
      <span>{% translate 'Weigh Bridge' %}</span>
    </a>
  </li>
  <li class="sidebar-list-item" style="list-style-type: none;border: none !important;">
    <a 
      {% if '/admin/prealert/guaranteedgoods/' == request.path %}
        class="active-link"
      {% endif %}
      href="/admin/prealert/guaranteedgoods/"
      {% if '/prealert/guaranteedgoods/' == request.path|urlencode %} 
        aria-current="page"
      {% endif %} 
      class="py-2" 
      aria-current="true"
    >
      <img src="{% static 'images/holdingCertificate.png' %}" alt="Holding Certificate" class="mx-auto">
      <span>{% translate 'Holding Certificate' %}</span>
    </a>
  </li>
  <li class="sidebar-list-item" style="list-style-type: none;border: none !important;">
    <a 
      {% if '/admin/prealert/storeentrance/' == request.path %}
        class="active-link"
      {% endif %}
      href="/prealert/storeentrance/"
      {% if '/admin/prealert/storeentrance/' == request.path|urlencode %}
        aria-current="page"
      {% endif %} 
      class="py-2" 
      aria-current="true"
    >
      <img src="{% static 'images/storeEntranceIcon.png' %}" class="mx-auto">
      <span>{% translate 'Store Entance' %}</span>
    </a>
  </li>
  <li class="sidebar-list-item" style="list-style-type: none;border: none !important;">
    <a 
      {% if '#' == request.path %} 
        class="active-link"
      {% endif %}
      href="#"
      {% if '#' == request.path|urlencode %} 
        aria-current="page"
      {% endif %} 
      class="py-2" 
      aria-current="true"
    >
      <img src="{% static 'images/storeOperationsIcon.png' %}" class="mx-auto">
      <span>{% translate 'Store Operations' %}</span>
    </a>
  </li>
  <li class="sidebar-list-item" style="list-style-type: none;border: none !important;">
    <a 
      {% if '#' == request.path %} 
        class="active-link"
      {% endif %}
      href="#"
      {% if '#' == request.path|urlencode %} 
        aria-current="page"
      {% endif %} 
      class="py-2" 
      aria-current="true"
    >
      <img src="{% static 'images/storeOutletIcon.png' %}" class="mx-auto">
      <span>{% translate 'Store Outlet' %}</span>
    </a>
  </li>
  <li class="sidebar-list-item" style="list-style-type: none;border: none !important;">
    <a 
      {% if '#' == request.path %} 
        class="active-link"
      {% endif %}
      href="#"
      {% if '#' == request.path|urlencode %} 
        aria-current="page"
      {% endif %} 
      class="py-2" 
      aria-current="true"
    >
      <img src="{% static 'images/reportsIcon.png' %}" class="mx-auto">
      <span>{% translate 'Reports' %}</span>
    </a>
  </li>
  {% comment %} this creates the Administration/ settings menu with child links {% endcomment %}
  <li class="sidebar-list-item" style="list-style-type: none;border: none !important;">
    <details>
      <summary>
        <img src="{% static 'images/administrationIcon.png' %}" class="mx-auto"> 
        <span>{% translate 'Administration' %}</span>
      </summary> 
      {% for app in app_list %}
      {% for model in app.models %}
      {% if model.name == 'Users' or model.name == 'Products' or model.name == 'Packagings' or model.name == 'Groups' or model.name == 'Customers' or model.name == 'Ware houses' or model.name == 'Seasons' or model.name == 'Entitys' %}
        <li class="sidebar-list-item" style="list-style-type: none;border: none !important; margin-left: 5px;">
            {% if model.admin_url  %}
              <a 
                {% if model.admin_url in request.path %} 
                  class="active-link"
                {% endif %}
                href="{{ model.admin_url }}"
                {% if model.admin_url in request.path|urlencode %} 
                  aria-current="page"
                {% endif %} 
                class="py-2" 
                aria-current="true"
              >
              {% comment %} dynamically adding icons {% endcomment %}
              {% if model.name == 'Pre alerts' %} 
                <img src="{% static 'images/preAlertIcon.png' %}" alt="HomeIcon" class="mx-auto">
              {% endif %}
              <span>{{ model.name }}</span>
            </a>
            {% else %}
              <div scope="row">{{ model.name }}</div>
            {% endif %}
        </li>
      {% endif %}
      {% endfor %} 
    {% endfor %}
    </details>
  </li>
  <li class="sidebar-list-item" style="list-style-type: none;border: none !important;">
    <a 
      {% if '#' == request.path %} 
        class="active-link"
      {% endif %}
      href="#"
      {% if '#' == request.path|urlencode %} 
        aria-current="page"
      {% endif %} 
      class="py-2" 
      aria-current="true"
    >
      <img src="{% static 'images/documentationIcon.png' %}" class="mx-auto">
      <span>{% translate 'Documentation' %}</span>
    </a>
  </li>
  
  </div>
</div>
<style>
  li {
    border: none !important;
    background-color: initial;
    width: 100% !important;
  }
  .sidebar-list-item > a:link, a:visited, summary {
    position: relative;
    display: flex;
    align-items: stretch;
    padding: 10px 15px;
    color: white !important;
    font-size: 16px !important;
    margin-bottom: -1px;
  }
  .sidebar-list-item > a:hover, a.active-link, a:active, details:hover {
    text-decoration: none;
    border-left: 4px solid white;
    background-color: rgb(33, 140, 83) !important;
  }

  #changelist {
    flex-direction: column;
}
  #drawer{
    margin-top: 10px;
    width: 220px !important;
  }
  a  > img, summary > img {
    margin-right: 0.5em;
  }
</style>
{% else %}
  <p>{% translate 'You don’t have permission to view or edit anything.' %}</p>
{% endif %}
